<section class="row banner text-center" id="certification-banner">
    <h4>Mes certifications</h4>

    <div class="owl-carousel owl-theme">
        <div>
            <figure class="figure">
                <img src="{{asset('assets/others/avatar.jpg')}}" alt="profil picture" class="img-thumbnail" width="120" height="120">
                <figcaption class="text-end">React</figcaption>
            </figure>
        </div>
        <div>
            <figure class="figure">
                <img src="{{asset('assets/others/avatar.jpg')}}" alt="profil picture" class="img-thumbnail" width="120" height="120">
                <figcaption class="text-end">React</figcaption>
            </figure>
        </div>
        <div>
            <figure class="figure">
                <img src="{{asset('assets/others/avatar.jpg')}}" alt="profil picture" class="img-thumbnail" width="120" height="120">
                <figcaption class="text-end">React</figcaption>
            </figure>
        </div>
        <div>
            <figure class="figure">
                <img src="{{asset('assets/others/avatar.jpg')}}" alt="profil picture" class="img-thumbnail" width="120" height="120">
                <figcaption class="text-end">React</figcaption>
            </figure>
        </div>
        <div>
            <figure class="figure">
                <img src="{{asset('assets/others/avatar.jpg')}}" alt="profil picture" class="img-thumbnail" width="120" height="120">
                <figcaption class="text-end">React</figcaption>
            </figure>
        </div>
        <div>
            <figure class="figure">
                <img src="{{asset('assets/others/avatar.jpg')}}" alt="profil picture" class="img-thumbnail" width="120" height="120">
                <figcaption class="text-end">React</figcaption>
            </figure>
        </div>
        <div>
            <figure class="figure">
                <img src="{{asset('assets/others/avatar.jpg')}}" alt="profil picture" class="img-thumbnail" width="120" height="120">
                <figcaption class="text-end">React</figcaption>
            </figure>
        </div>
        <div>
            <figure class="figure">
                <img src="{{asset('assets/others/avatar.jpg')}}" alt="profil picture" class="img-thumbnail" width="120" height="120">
                <figcaption class="text-end">React</figcaption>
            </figure>
        </div>
        <div>
            <figure class="figure">
                <img src="{{asset('assets/others/avatar.jpg')}}" alt="profil picture" class="img-thumbnail" width="120" height="120">
                <figcaption class="text-end">React</figcaption>
            </figure>
        </div>
        <div>
            <figure class="figure">
                <img src="{{asset('assets/others/avatar.jpg')}}" alt="profil picture" class="img-thumbnail" width="120" height="120">
                <figcaption class="text-end">React</figcaption>
            </figure>
        </div>
    </div>
</section>