<section id="portfolio">
    <div class="container">
        <h3 class="mb-4"><span class="color-prim">Mon</span> Portfolio</h3>

        <div class="row">
            <div class="col-12 text-center portfolio-button-row">
                <button data-filter="*" class="btn btn-sec btn-sm fsize-p">Tout</button>
                <button data-filter=".web" class="btn btn-sec btn-sm fsize-p">Web</button>
                <button data-filter=".mobile" class="btn btn-sec btn-sm fsize-p">Mobile</button>
                <button data-filter=".graphisme" class="btn btn-sec btn-sm fsize-p">Graphisme</button>
            </div>
        </div>

        <div class="row mt-3 portfolio-isotope">
            <div class="col-6 col-sm-4 col-md-3 project-col web">
                <div class="card">
                    <img src="{{asset('assets/others/header.jpg')}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Project name</h5>
                        <div class="row">
                            <div class="col-8 fw-600 color-sec">Type de projet</div>

                            <!-- link to an other page -->
                            <div class="col-4 text-end">
                                <a href="#" class="btn btn-prim btn-sm btn-radius"><i class="bi bi-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 project-col mobile">
                <div class="card">
                    <img src="{{asset('assets/others/header.jpg')}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Project name</h5>
                        <div class="row">
                            <div class="col-8 fw-600 color-sec">Type de projet</div>

                            <!-- link to an other page -->
                            <div class="col-4 text-end">
                                <a href="#" class="btn btn-prim btn-sm btn-radius"><i class="bi bi-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 project-col web">
                <div class="card">
                    <img src="{{asset('assets/others/header.jpg')}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Project name</h5>
                        <div class="row">
                            <div class="col-8 fw-600 color-sec">Type de projet</div>

                            <!-- link to an other page -->
                            <div class="col-4 text-end">
                                <a href="#" class="btn btn-prim btn-sm btn-radius"><i class="bi bi-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 project-col graphisme">
                <div class="card">
                    <img src="{{asset('assets/others/header.jpg')}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Project name</h5>
                        <div class="row">
                            <div class="col-8 fw-600 color-sec">Type de projet</div>

                            <!-- link to an other page -->
                            <div class="col-4 text-end">
                                <a href="#" class="btn btn-prim btn-sm btn-radius"><i class="bi bi-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 project-col web">
                <div class="card">
                    <img src="{{asset('assets/others/header.jpg')}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Project name</h5>
                        <div class="row">
                            <div class="col-8 fw-600 color-sec">Type de projet</div>

                            <!-- link to an other page -->
                            <div class="col-4 text-end">
                                <a href="#" class="btn btn-prim btn-sm btn-radius"><i class="bi bi-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 project-col mobile">
                <div class="card">
                    <img src="{{asset('assets/others/header.jpg')}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Project name</h5>
                        <div class="row">
                            <div class="col-8 fw-600 color-sec">Type de projet</div>

                            <!-- link to an other page -->
                            <div class="col-4 text-end">
                                <a href="#" class="btn btn-prim btn-sm btn-radius"><i class="bi bi-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 project-col graphisme">
                <div class="card">
                    <img src="{{asset('assets/others/header.jpg')}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Project name</h5>
                        <div class="row">
                            <div class="col-8 fw-600 color-sec">Type de projet</div>

                            <!-- link to an other page -->
                            <div class="col-4 text-end">
                                <a href="#" class="btn btn-prim btn-sm btn-radius"><i class="bi bi-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 project-col graphisme">
                <div class="card">
                    <img src="{{asset('assets/others/header.jpg')}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Project name</h5>
                        <div class="row">
                            <div class="col-8 fw-600 color-sec">Type de projet</div>

                            <!-- link to an other page -->
                            <div class="col-4 text-end">
                                <a href="#" class="btn btn-prim btn-sm btn-radius"><i class="bi bi-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>