<section id="portfolio">
    <div class="container">
        <h3 class="mb-3"><span class="color-prim">Mon</span> Portfolio</h3>

        <div class="row">
            <div class="col-12 text-center portfolio-button-row">
                <button type="button" class="btn btn-sec btn-sm fsize-p">Tout</button>
                <button type="button" class="btn btn-sec btn-sm fsize-p">Web</button>
                <button type="button" class="btn btn-sec btn-sm fsize-p">Mobile</button>
                <button type="button" class="btn btn-sec btn-sm fsize-p">Graphisme</button>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-6 col-sm-4 col-md-3 project-col">
                <img src="{{asset('assets/others/avatar.jpg')}}" class="portfolio-img">
                <div class="row">
                    <div class="col-12">
                        <h5>Nom du projet</h5>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-6 text-end">
                        <button class="btn btn-prim btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="bi bi-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 project-col">
                <img src="{{asset('assets/others/avatar.jpg')}}" class="portfolio-img">
            </div>
            <div class="col-6 col-sm-4 col-md-3 project-col">
                <img src="{{asset('assets/others/avatar.jpg')}}" class="portfolio-img">
            </div>
            <div class="col-6 col-sm-4 col-md-3 project-col">
                <img src="{{asset('assets/others/avatar.jpg')}}" class="portfolio-img">
            </div>
            <div class="col-6 col-sm-4 col-md-3 project-col">
                <img src="{{asset('assets/others/avatar.jpg')}}" class="portfolio-img">
            </div>
            <div class="col-6 col-sm-4 col-md-3 project-col">
                <img src="{{asset('assets/others/avatar.jpg')}}" class="portfolio-img">
            </div>
        </div>
    </div>
</section>